{% extends 'partial/layout-StaticData.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>results page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
</head>
<body>

<div id="block_container" style="text-align:center; display: flex; justify-content: center;">

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
    <div id="containerTB" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>

</div>

<div style="padding-bottom: 50px"></div>
<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>




</body>
<script>

$(function () {
    // Create the chart
    $('#container').highcharts({
        chart: {
            type: 'pie',
            events: {
                drilldown: function() {
                    var chart = this;
                    chart.setTitle(null, {
                        text: 'Sum of followers of people who tweeted per specific sentiment'
                    });
                },
                drillup: function() {
                    var chart = this;
                    chart.setTitle(null, {
                        text: 'Sentiment Data Collected from {{ tweetCount }} tweets on #trump.'
                    });
                }
            }
        },
        title: { text: 'Using Vader + Drilldown' },
        subtitle: { text: 'Sentiment Data Collected from {{ tweetCount }} tweets on #trump.' },
        xAxis: {
            type: 'category',
        },
        yAxis: { title: { text: 'Exposure' } },
        plotOptions: {
            series: {
                colorByPoint: true,
                dataLabels: {
                    enabled: false,
                }
            }
        },
        series: [{
            tooltip: {
                headerFormat: '<span style="font-size:11px">Sentiment</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> out of {{ tweetCount }}<br/>'
            },
            colorByPoint: true,
            data: [{ name: 'Positive', drilldown: 'ddneg', y: {{ pos }} },
			{ name: 'Negative', drilldown: 'ddneg', y: {{ neg }} },
			{ name: 'Neutral', drilldown: 'ddneg', y: {{ neu }} }]
        }],
        drilldown: {
            series: [{
                tooltip: {
                    headerFormat: '<span style="font-size:11px">Number of Followers</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> Followers<br/>' },
                type: 'column',
                id: 'ddneg',
                data: [{ name: 'Positive', y: {{posFollowers}} },
                    { name: 'Negative', y: {{negFollowers}} },
                    { name: 'Neutral', y: {{neuFollowers}} }]
            }]
        }
    });
    Highcharts.chart('container2', {
        title: { text: 'Total Retweets' },
        subtitle: { text: 'Sum of retweets per specific sentiment' },
        legend: { enabled: true },
        xAxis: { categories: ['Positive', 'Negative', 'Neutral'] },
        yAxis: { title: { text: 'Retweets' } },
        plotOptions: {
            series: {
                colorByPoint: true,
                dataLabels: {
                    enabled: false,
                }
            }
        },
        series: [{
            tooltip: {
                headerFormat: '<span style="font-size:11px">Number of Retweets</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> Retweeted<br/>' },
            type: 'column',
            data: [{ name: 'Positive', y: {{posRetweets}} },
                    { name: 'Negative', y: {{negRetweets}} },
                    { name: 'Neutral', y: {{neuRetweets}} }]
        }]
    });
    $('#containerTB').highcharts({
        chart: {
            type: 'pie',
        },
        title: { text: 'Using Textblob' },
        subtitle: { text: 'Sentiment Data Collected from {{ tweetCount }} tweets on #trump.' },
        xAxis: {
            type: 'category',
        },
        yAxis: { title: { text: 'Exposure' } },
        plotOptions: {
            series: {
                colorByPoint: true,
                dataLabels: {
                    enabled: false,
                }
            }
        },
        series: [{
            tooltip: {
                headerFormat: '<span style="font-size:11px">Sentiment</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> out of {{ tweetCount }}<br/>'
            },
            colorByPoint: true,
            data: [{ name: 'Positive', drilldown: 'ddneg', y: {{ posTB }} },
			{ name: 'Negative', drilldown: 'ddneg', y: {{ negTB }} },
			{ name: 'Neutral', drilldown: 'ddneg', y: {{ neuTB }} }]
        }],
    });
});


</script>
</html>
{% endblock %}